# Dossiers à exclure
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Fichiers générés par Visual Studio / IDE
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store

# Cache Unity
*.cache

# Fichiers spécifiques
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.asmdef.meta
